In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/Admin/Downloads/Attend/7sem.csv")
data.head()

            Consolidate Attendance Percentage Report
0                                            School;
1  S No.;Roll No.;Student Name;School;Department;...
2  1;20211COM0001;HARIKA Y;SCHOOL OF COMPUTER SCI...
3  2;20211COM0002;SUPRITA;SCHOOL OF COMPUTER SCIE...
4  3;20211COM0003;SHIVAKUMAR;SCHOOL OF COMPUTER S...

In [3]:
# convert into dataframe
df = pd.DataFrame(data)
df.head()

            Consolidate Attendance Percentage Report
0                                            School;
1  S No.;Roll No.;Student Name;School;Department;...
2  1;20211COM0001;HARIKA Y;SCHOOL OF COMPUTER SCI...
3  2;20211COM0002;SUPRITA;SCHOOL OF COMPUTER SCIE...
4  3;20211COM0003;SHIVAKUMAR;SCHOOL OF COMPUTER S...